
        .body-initial {
            background-color: rgb(38, 38, 38); 
        }
        .background-initial {
            background-color: rgb(255, 255, 255); 
            top: 5px; 
            left: 154px; 
            width: 960px; 
            height: 600px; 
        }
        .silex-id-1453147273045-0 {
            height: 310px; 
            width: 320px; 
            top: 131px; 
            left: 287px; 
        }
        .silex-id-1442914589168-2 {
            height: 50px; 
            width: 400px; 
            top: 635px; 
            left: 6px; 
            background-color: transparent; 
        }
        .silex-id-1442914737143-3 {
            height: 28px; 
            width: 250px; 
            top: 13px; 
            left: 80px; 
        }
    